# Basic settings
clusters = source_cluster, target_cluster

#connector.client.config.override.policy = All

tasks.max = 1

source_cluster.bootstrap.servers = cell-1.streaming.${SOURCE_REGION}.oci.oraclecloud.com:9092
target_cluster.bootstrap.servers = cell-1.streaming.${TARGET_REGION}.oci.oraclecloud.com:9092

# Define replication flows
source_cluster->target_cluster.enabled=true
source_cluster->target_cluster.topics=.*
source_cluster->target_cluster.groups=.*
source_cluster->target_cluster.refresh.topics.enabled = true
source_cluster->target_cluster.refresh.topics.interval.seconds = 60
source_cluster->target_cluster.refresh.groups.enabled = true
source_cluster->target_cluster.refresh.groups.interval.seconds = 60
source_cluster->target_cluster.emit.checkpoints.enabled = true
source_cluster->target_cluster.emit.heartbeats.enabled = true
source_cluster->target_cluster.sync.group.offsets.enabled = false
source_cluster->target_cluster.sync.topic.configs.enabled = false
source_cluster->target_cluster.sync.topic.acls.enabled = false


target_cluster.config.storage.topic=${CONNECT_HARNESS_OCID}-config
target_cluster.offset.storage.topic=${CONNECT_HARNESS_OCID}-offset
target_cluster.status.storage.topic=${CONNECT_HARNESS_OCID}-status

target_cluster.security.protocol=SASL_SSL
target_cluster.sasl.mechanism=PLAIN
target_cluster.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="${TENANCY_NAME}/${USER_NAME}/${TARGET_STREAM_POOL}" password="${AUTH_CODE}";


############ config for Kafka admin in MirrorSourceConnector #####################

source_cluster->target_cluster.source.admin.security.protocol=SASL_SSL
source_cluster->target_cluster.source.admin.sasl.mechanism=PLAIN
source_cluster->target_cluster.source.admin.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="${TENANCY_NAME}/${USER_NAME}/${SOURCE_STREAM_POOL}" password="${AUTH_CODE}";

source_cluster->target_cluster.target.admin.security.protocol=SASL_SSL
source_cluster->target_cluster.target.admin.sasl.mechanism=PLAIN
source_cluster->target_cluster.target.admin.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="${TENANCY_NAME}/${USER_NAME}/${TARGET_STREAM_POOL}" password="${AUTH_CODE}";


#################################################################################


############### Config for consumer and offset-producer in MirrorSourceTask ###########

#source_cluster->target_cluster.consumer.consumer.poll.timeout.ms = 60000
source_cluster->target_cluster.consumer.security.protocol=SASL_SSL
source_cluster->target_cluster.consumer.sasl.mechanism=PLAIN
source_cluster->target_cluster.consumer.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="${TENANCY_NAME}/${USER_NAME}/${SOURCE_STREAM_POOL}" password="${AUTH_CODE}";

source_cluster->target_cluster.producer.security.protocol=SASL_SSL
source_cluster->target_cluster.producer.sasl.mechanism=PLAIN
source_cluster->target_cluster.producer.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="${TENANCY_NAME}/${USER_NAME}/${SOURCE_STREAM_POOL}" password="${AUTH_CODE}";


#################################################################################
